body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
}

.header-logo {
    font-size: 32px;
    font-weight: 900;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
    flex-wrap: wrap;
    width: 300px;
    outline: 1px solid orange;
}

.main-body {
    display: flex;
    justify-content: center;
    gap: 400px;
    outline: 1px solid black;
}

.sub-text {
    flex-wrap: wrap;
}

.main-body-container {
    outline: 1px solid orangered;
    width: 400px;
}

.sign-up {
    width: 100px;
    height: 40px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

.section-one {
    outline: 1px solid red;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
}

.section-two {
    outline: 1px solid green;
}

.section-three {
    outline: 1px solid blue;
}

.section-four {
    outline: 1px solid yellow;
}