body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 32px;
    font-weight: 900;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

.section-one {
    outline: 1px solid red;
}

.section-two {
    outline: 1px solid green;
}

.section-three {
    outline: 1px solid blue;
}

.section-four {
    outline: 1px solid yellow;
}