body {                      
    display: flex;                  /* TODO: Recap on flex grow,shrink and basis */
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-size: 32px;
    font-weight: 900;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
    flex-wrap: wrap;
    width: 300px;
    outline: 1px solid orange;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.sub-text {
    flex-wrap: wrap;
}

.hero-section-container {
    width: 720px;
}

.sign-up {
    width: 100px;
    height: 40px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

a {
    text-decoration: none;
    color: white;
}

.section-one {
    outline: 1px solid red;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    color: white;
}

.section-heading {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 32px;
}

.image-sub-text-container {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 48px;
}

.image-sub-text {
    text-align: center;
    max-width: 200px;
}

.section-two {
    outline: 1px solid green;
}

.quote {
    font-size: 48px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 128px;
    outline: 1px solid brown;
}

.author {
    font-size: 24px;
    font-weight: bold;
}

.author-container {
    display: flex;
    justify-content: flex-end;
}

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.advertisement {
    display: flex;
    background-color: blue;
    outline: 1px solid red;
    margin: 64px;
    padding: 32px;
    gap: 64px;
}

.ad-text-container {
    color: white;
}

.ad-heading {
    font-size: 24px;
    font-weight: bold;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid yellow;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: darkblue;
}

.footer-text {
    margin: 32px;
    color: white;
}